# 3. write a program to iterate the first 10 numbers and in sum of current and a previous number.

In [1]:
print("Printing current and previous number and their sum in a range(10)")
previous_num = 0
for i in range(1, 11):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number ", previous_num, " Sum: ", x_sum)
    previous_num = i

Printing current and previous number and their sum in a range(10)
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
Current Number 10 Previous Number  9  Sum:  19

# 4. Accept a string from the user and display the character that are present at an even index number.

In [2]:
word = input('Enter word ')
print("Original String:", word)
size = len(word)
print("Printing only even index chars")
for i in range(0, size - 1, 2):
    print("index[", i, "]", word[i])

Enter word programming in python
Original String: programming in python
Printing only even index chars
index[ 0 ] p
index[ 2 ] o
index[ 4 ] r
index[ 6 ] m
index[ 8 ] i
index[ 10 ] g
index[ 12 ] i
index[ 14 ]
index[ 16 ] y
index[ 18 ] h

# 6.Write a program to find how many times substring “is” appears in the given string.

In [2]:
str_x = "python is a high level language.it is dynamically typed."
cnt = str_x.count("is")
print(cnt)

2

# 11. Display three string “Name”, “Is”, “James” as “Name**Is**James”

In [11]:
print('My', 'Name', 'Is', 'James', sep='**')

My**Name**Is**James

# 12. Convert Decimal number to octal and Display float number with 2 decimal places

In [16]:
num = 14
print("decimal to octal:"'%o' % num)
num = 4569.092344
print("flot no with 2 decimal no:"'%.2f' % num)

decimal to octal:16
flot no with 2 decimal no:4569.09

# 13. Accept a list of 5 float numbers as an input from the user

In [19]:
numbers = []
for i in range(0, 5):
    print("Enter number at location", i, ":")
    item = float(input())
    numbers.append(item)
print("User List:", numbers)

Enter number at location 0 :
8.9
Enter number at location 1 :
4.05
Enter number at location 2 :
1.222
Enter number at location 3 :
6.000
Enter number at location 4 :
5.87
User List: [8.9, 4.05, 1.222, 6.0, 5.87]

# 15. Format variables using a string.format() method.

In [3]:
quantity = 500
totalMoney = 250
price = 35
statement1 = "I have {1} rupees so I can buy {0} chocholate for {2:.2f} dollars."
print(statement1.format(quantity, totalMoney, price))

I have 250 rupees so I can buy 500 chocholate for 35.00 dollars.

# 18.Print list in reverse order using a loop

In [6]:
original_list = [12,52,73,41,50]
print("List before reverse : ",original_list)
original_list.reverse()
print("List after reverse : ",original_list)

List before reverse :  [12, 52, 73, 41, 50]
List after reverse :  [50, 41, 73, 52, 12]

# 19. Count the total number of digits in a number

In [11]:
num = 7586934561122
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Total digits are: 13

# 22. Use a loop to display elements from a given list present at odd index positions

In [14]:
arr = [9, 10, 12, 47, 55, 334,93,100];          
print("Elements of given array present on odd position: ");        
for i in range(0, len(arr), 2):    
    print(arr[i]);

Elements of given array present on odd position:
9
12
55
93

# 26. Find all occurrences of a substring in a given string by ignoring the case

In [21]:
str1 = "Welcome to USA. usa awesome, isn't it?"
sub_string = "USA"
temp_str = str1.lower()
count = temp_str.count(sub_string.lower())
print("The USA count is:", count)

The USA count is: 2

# 27. Write a program to count occurrences of all characters within a string

In [26]:
str1 = "renugadevi"
char_dict = dict()
for char in str1:
    count = str1.count(char)
    char_dict[char] = count
print('Result:', char_dict)

Result: {'r': 1, 'e': 2, 'n': 1, 'u': 1, 'g': 1, 'a': 1, 'd': 1, 'v': 1, 'i': 1}

# 28. Reverse a list in Python

In [27]:
list1 = [156, 250, 360, 490, 600]
list1.reverse()
print(list1)

[600, 490, 360, 250, 156]

# 29. Concatenate two lists index-wise

In [29]:
list1 = ["pyt", "un", "on"] 
list2 = ["hon", "it", "e"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['python', 'unit', 'one']

# 30. Turn every item of a list into its square

In [31]:
numbers = [5, 10, 13, 45, 25, 6, 20]
res = []
for i in numbers:
    res.append(i * i)
print(res)

[25, 100, 169, 2025, 625, 36, 400]

# 31. Iterate two lists simultaneously

In [34]:
list1 = [150, 250, 350, 450]
list2 = [1000, 2000, 3000, 400]
for x, y in zip(list1, list2[::-1]):
    print(x, y)

150 400
250 3000
350 2000
450 1000

# 32. Remove empty strings from the list of strings

In [36]:
list1 = ["programming", "", "in", "python"]
res = list(filter(None, list1))
print(res)

['programming', 'in', 'python']

# 33. Add new item to list after a specified item

In [37]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

# 34. Extend nested list by adding the sublist

In [38]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

# 35. Replace list’s item with new value if found

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
index = list1.index(20)
list1[index] = 200
print(list1)

# 36. Remove all occurrences of a specific item from a list.

In [39]:
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]

# 37. Convert two lists into a dictionary

In [40]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
res_dict = dict(zip(keys, values))
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}